body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #009CE2;/*e9ecef*/
}

#main-navbar, #admin-navbar {
    background-color: #009CE2;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

#btn-grid > div > div > a {
    width: 100%;
    height: 50px;
}

#room-information-modal > div > div > .modal-body > ul {
    list-style: none;
    padding: 0;
}